* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    max-width: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 20px;
    background-color: #222831;
    border-radius: 10px;

    img{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    p {
        padding: 10px;
        margin-left: 20px;
        color: #f2f2f2;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
    }
    .aboutFood{
        cursor: pointer;
        color:#f96d00;
        text-decoration: none;
    }
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
